@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: 2px solid #4CBCE3;
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}